.landing-btn:enabled {
    cursor: pointer;
}

form > button {
    color: white;
    font-weight: bold;
    width: 10vw;
    height: 30px;
    border-radius: 20%;
    background: linear-gradient(45deg, #86b626, black 40% 60%, #86b626)
}