.App {
  text-align: center;
  background: linear-gradient(45deg, #A56AF7, black 10% 90%, #F05365);
  color: white;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  display: flex;
}

.logo {
  top: 15px;
  right: 40%;
  max-height: 20vh;
}

.mascot {
  max-height: 200px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  border-radius: 15% 85% 50% 50% / 67% 37% 63% 33% ;
  background-image:
  linear-gradient(to bottom, #86b626, black);
  box-shadow: 0 0 10px 10px black inset;
}

.logos {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
}