.dashboard {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    column-gap: 30px;
    padding: 5px;
    width: 100vw;
    text-align: center;
}

.saved-wines {
    border-radius: 20%;
    padding-top: 20%;
    max-width: 18vw;
    margin: 5%;
    overflow: scroll;
}

.trivia-stats {
    padding-top: 8%;
}

.trivia-stats {
    max-width: 35vw;
}

.about {
    padding-top: 30%;
    max-width: 30vw;
}

.about-text {
    font-size: 220%;
}

li {
    list-style: none;
    margin-top: 3%;
}

ul {
    padding: 0%;
}

.play-again-btn {
    cursor: pointer;
    width: 60%;
    height: 30px;
    margin: 5%;
    color: white;
    font-weight: bolder;
    border-radius: 20%;
    background: linear-gradient(45deg, #86b626, black 40% 60%, #86b626)
}
.clear-data-btn {
    cursor: pointer;
    width: 60%;
    height: 30px;
    margin: 5%;
    color: white;
    font-weight: bolder;
    border-radius: 20%;
    background: linear-gradient(45deg, #F05365, black 40% 60%, #F05365)
}

.section-heading {
    font-size: 145%;
}

.wastebasket {
    margin: 2% 0% 2% 0%;
    cursor: pointer;
    display: inline;
}