.gameplay {
    margin: 10% 20% 0 30%;
}

.loading-msg {
    margin: 0 auto;
    padding-top: 25%;
    font-size: 150%;
}

.no-load-box {
    margin: 0 auto;
    padding-top: 25%;
    font-size: 150%;
}

.error-home-btn {
    margin: 15px;
    color: white;
    width: 10vw;
    height: 30px;
    border-radius: 20%;
    background: linear-gradient(45deg, #86b626, black 40% 60%, #86b626)
}